@font-face {
    font-family: RobotoBold;
    src: url(./font/roboto/RobotoMono-Bold.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(./font/roboto/RobotoMono-Medium.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(./font/roboto/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(./font/roboto/RobotoMono-Light.ttf);
}

@font-face {
    font-family: PoppinsBold;
    src: url(./font/poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: PoppinsBlack;
    src: url(./font/poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: PoppinsMedium;
    src: url(./font/poppins/Poppins-Medium.ttf);
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 230vw;
    background: linear-gradient(to bottom, #14202B, #1A191E);
}

#marca {
    position: absolute;
    top: 1vw;
    left: 2vw;
    font-family: PoppinsMedium;
    font-size: 2vw;
    color: white;
}

#marca span {
    color: #0097B2;
}

.sidebar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
    top: 15vw;
    left: 2vw;
    width: 3vw;
    height: 16vw;
    background-color: #14202B;
    box-shadow: 0vw 0vw 1vw 1px #0c424b;
    border-radius: 0.5vw;
}

.sidebar svg {
    width: 1.5vw;
    fill: #3F3A3A;
    transition: 1s;
}

.sidebar svg:hover {
    width: 2vw;
    fill: #0097B2;
}

#avatar {
    position: absolute;
    top: 2vw;
    left: 30vw;
    width: 40vw;
    opacity: 0.5;
    z-index: 1;
}

#nombre {
    position: absolute;
    top: 12vw;
    left: 20vw;
    font-family: PoppinsBold;
    font-size: 7vw;
    font-weight: 600;
    color: white;
}

#subtitulo {
    position: absolute;
    top: 25vw;
    left: 30vw;
    font-family: PoppinsMedium;
    font-size: 1.5vw;
    color: white;
}

#aboutme {
    position: absolute;
    top: 50vw;
    left: 10vw;
    color: white;
    font-family: PoppinsBold;
    font-size: 4vw;
}

#AboutMe {
    position: absolute;
    top: 58vw;
    left: 10vw;
    font-family: RobotoMedium;
    font-size: 1.5vw;
    color: white;
}

#cohete {
    position: absolute;
    font-size: 15vw;
    top: 45vw;
    left: 70vw;
}

#contecnico {
    position: absolute;
    top: 90vw;
    left: 23vw;
    color: white;
    font-family: PoppinsBold;
    font-size: 4vw;
}

.tabla {
    position: absolute;
    top: 105vw;
    left: 10vw;
    display: grid;
    grid-template-columns: 5fr 5fr 5fr; 
    width: 80vw;
    height: auto;
    text-align: center;
    font-family: Arial, sans-serif;
    gap: 10vw;
}

.header {
    font-family: RobotoRegular;
    font-size: 1vw;
    color: white;
    border: 0.1vw solid white;
    padding: 1vw;
}

.header span {
    font-family: RobotoBold;
    font-size: 1.5vw;
}

.logos svg {
    width: 8vw;
    fill: #3F3A3A;
}

#java {
    position: absolute;
    top: 116vw;
    left: 6vw;
}

#python {
    position: absolute;
    top: 100vw;
    left: 25vw;
}

#html {
    position: absolute;
    top: 100vw;
    left: 55vw;
}

#css {
    position: absolute;
    top: 116vw;
    left: 36vw;
}

#post {
    position: absolute;
    top: 100vw;
    left: 85vw;
}

#js {
    position: absolute;
    top: 116vw;
    left: 65vw;
}

#proyecto {
    position: absolute;
    top: 128vw;
    left: 37vw;
    font-family: PoppinsBold;
    font-size: 4vw;
    color: white;
}

#spacex {
    position: absolute;
    width: 20vw;
    top: 140vw;
    left: 10vw;
    border: 0.1vw solid white;
    border-radius: 0.5vw;
    transition: 1s;
}

.space h1 {
    position: absolute;
    top: 139vw;
    left: 35vw;
}

.space p {
    position: absolute;
    top: 142vw;
    left: 35vw;
}

#campus {
    position: absolute;
    width: 20vw;
    top: 155vw;
    left: 10vw;
    border: 0.1vw solid white;
    border-radius: 0.5vw;
    transition: 1s;
}

.campuslands h1 {
    position: absolute;
    top: 154vw;
    left: 35vw;
}

.campuslands p {
    position: absolute;
    top: 157vw;
    left: 35vw;
}

#cacao {
    position: absolute;
    width: 20vw;
    top: 170vw;
    left: 10vw;
    border: 0.1vw solid white;
    border-radius: 0.5vw;
    transition: 1s;
}

.florCacao h1 {
    position: absolute;
    top: 169vw;
    left: 35vw;
}

.florCacao p {
    position: absolute;
    top: 172vw;
    left: 35vw;
}

#universitario {
    position: absolute;
    width: 20vw;
    top: 185vw;
    left: 10vw;
    border: 0.1vw solid white;
    border-radius: 0.5vw;
    transition: 1s;
}

.elUniversitario h1 {
    position: absolute;
    top: 184vw;
    left: 35vw;
}

.elUniversitario p {
    position: absolute;
    top: 187vw;
    left: 35vw;
}

.projects h1 {
    font-size: 1.5vw;
    font-family: PoppinsBold;
    color: white;
}

.projects p {
    font-size: 1vw;
    font-family: RobotoRegular;
    color: white;
}

#spacex:hover, #campus:hover, #cacao:hover, #universitario:hover {
    width: 21vw;
}

.languajes1 {
    position: absolute;
    display: flex;
    gap: 1vw;
    top: 148vw;
    left: 35vw;
}

.languajes2 {
    position: absolute;
    top: 161.5vw;
    left: 35vw;
}

.languajes3 {
    position: absolute;
    top: 179vw;
    left: 35vw;
}

.languajes4 {
    position: absolute;
    top: 191.5vw;
    left: 35vw;
}

.javascript, .html5, .css3, .py, .mysql {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    height: 2vw;
    border: 0.1vw solid white;
    border-radius: 1vw;
    color: white;
    font-family: RobotoLight;
    font-size: 0.8vw;
}

#contactame {
    position: absolute;
    top: 200vw;
    left: 10vw;
    color: white;
    font-family: RobotoBold;
    font-size: 2vw;
}

.tablita {
    position: absolute;
    top: 205vw;
    left: 10vw;
    display: grid;
    grid-template-columns: 5fr 5fr 5fr; 
    width: 80vw;
    height: auto;
    text-align: center;
    font-family: Arial, sans-serif;
    gap: 10vw;
}

.casilla {
    font-family: RobotoRegular;
    font-size: 1vw;
    color: white;
    border: 0.1vw solid white;
    padding: 1vw;
}

.casilla img {
    width: 3vw;
}

.casilla a {
    text-decoration: none;
    color: white;
}

#correo {
    position: absolute;
    top: 215vw;
    left: 10vw;
    font-family: RobotoBold;
    font-size: 1.5vw;
    color: white;
}

#adress {
    position: absolute;
    top: 217vw;
    left: 10vw;
    font-family: RobotoLight;
    font-size: 1.5vw;
    color: white;
}

.footer {
    position: absolute;
    color: white;
    font-family: RobotoLight;
    font-size: 0.8vw;
    left: 37vw;
    top: 228vw;
}